<div class="container mx-auto py-6 text-center">
  <h1 class="font-extrabold text-indigo-700 text-5xl">Página no encontrada</h1>
  <LinkTo @route="index" class="font-bold text-indigo-500 hover:text-indigo-700 text-2xl">
    Regresar a inicio
  </LinkTo>
  <img src="img/icons8-404.png" alt="Buzo en el oceano">
</div>